{% extends "base.html" %}

{% block title %}Portal de Serviços{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<!-- Example row of columns -->
<div class="row">
    {% include 'partials/messages.html' %}
</div>
<div class="row">
        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der lorem isum ip lor der</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der ...</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der ...</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der ...</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der ...</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der ...</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der ...</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der ...</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-right: 10px;margin-bottom: 10px;">
            <img src="/assets/img/image.png" class="card-img-top" alt="Serviço exemplo">
            <div class="card-body">
                <h5 class="card-title">Serviço exemplo</h5>
                <p class="card-text">Lorem isum ip lor der ...</p>
                <a href="{{ base_url() }}/catalog/{{ catalog.Origin }}/category" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
    
</div>

{% endblock %}

{% block jsfooter %}
    {{ parent() }}
{% endblock %}