{% extends "base.html" %}

{% block title %}Portal de Serviços{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="row">
    <!-- Card deck -->
    <div class="card-deck">
        

        {% for catalog in catalogs %}
        <!-- Card -->
        <div class="card mb-4">
    
            <!--Card image-->
            <div class="view overlay">
            <img class="card-img-top" src="{{ catalog.Img }}" alt="{{ catalog.Name }}">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!--Card content-->
            <div class="card-body">
        
            <!--Title-->
            <h4 class="card-title">{{ catalog.Name }}</h4>
            <!--Text-->
            <p class="card-text">{{ catalog.Description }}</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- button type="button" class="btn btn-light-blue btn-md">Read more</button -->
            <a href="{{ base_url() }}/type/group/{{ catalog.Origin }}/category" class="btn btn-light-blue btn-md">Ver categorias</a>
        
            </div>
        
        </div>
        <!-- Card -->
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block jsfooter %}
    {{ parent() }}
{% endblock %}